
    <div class="ety-head">
      <div class="plg">Language group</div>
      <div class="pagetitle">{{ pagetitle }}</div>
      <div class="crumbs">{{ crumbs }}</div>
      <div class="metabar">{% for m in meta %}{{ m }}{% endfor %}</div>
    </div>
    <details class="seg" open><summary>Family tree<span class="c">{{ ntree }} groups</span></summary><div class="lgtree">{% for t in tree %}<div style="padding-left:{{ t.pad }}px">{{ t.inner }}</div>{% endfor %}</div></details>
    {% if subs %}<section class="thes grpsec"><h3>Subgroups</h3><ul>{% for s in subs %}<li><a class="row" href="/group/{{ s.grpid }}"><span class="ti">{{ s.lab }}</span><span class="ct">{{ s.nl }} languages</span></a></li>{% endfor %}</ul></section>{% endif %}
    {% if langs %}<div class="ety-list grpsec"><h3>Languages<span class="cnt">{{ nlangs }}</span></h3>{% for l in langs %}<div class="ety-hit"><span class="rf"><a href="/language/{{ l.lgid }}">{{ l.language }}</a>{{ l.ab }}</span><span class="gl2">{{ l.mid }}</span><span class="tagn">{{ l.n_txt }}</span></div>{% endfor %}</div>{% endif %}
    {% if protos %}<div class="ety-list grpsec"><h3>Previously published reconstructions<span class="cnt">{{ nprotos }}</span></h3>{% for l in protos %}<div class="ety-hit"><span class="rf"><a href="/language/{{ l.lgid }}">{{ l.language }}</a>{{ l.ab }}</span><span class="gl2">{{ l.mid }}</span><span class="tagn">{{ l.n_txt }}</span></div>{% endfor %}</div>{% endif %}
    {% if recons %}<div class="ety-list grpsec"><h3>Reconstructions<span class="cnt">{{ nrecons }}</span></h3>{% for r in recons %}<div class="ety-hit"><a href="{{ r.href }}" class="pf2 lat">{{ r.protoform }}</a><span class="pg2">{{ r.protogloss }}</span><span class="tagn">{{ r.tagn }}</span></div>{% endfor %}</div>{% endif %}